// Theme's Palette
@import("C:/www/dancingjasonxiao.github.io/node_modules/vuepress-theme-reco/styles/palette.styl")

// User's Palette
@import("C:/www/dancingjasonxiao.github.io/.vuepress/styles/palette.styl")